{% extends 'main.html'%}
{% block main %}
<body>
    <h1 class="text-center">Корпоративы</h1>

    <div class="section">
        <h2 class="section-header">Сомелье на корпоратив, мастер классы, wine Event</h2>
        <p class="section-content">
            Эксперты сети ALCOSTA более 10 лет занимаются проведением и сопровождением корпоративов, торжественных событий – от домашних мероприятий до корпоративных праздников и VIP – вечеринок.
        </p>
    </div>

    <div class="section">
        <h2 class="section-header">Винный мастер-класс для любой компании</h2>
        <p class="section-content">
            По Вашему желанию может включать в себя любой формат- лекцию, винное казино, «винную монополию», а также семинар по столовому и винному этикету.
            <br>Длительность от 1,5 часов, а окончание зависит от Ваших временных возможностей.
            <br>Мероприятие может быть выездным.
        </p>
    </div>

    <div class="section">
        <h2 class="section-header">Винное казино в ALCOSTA</h2>
        <p class="section-content">
            <ul>
                <li>Это стилизованная под рулетку игра с фишками, крупье и ставками;</li>
                <li>Гостям надо угадать сорт винограда, страну происхождения и другие характеристики вина;</li>
                <li>Участник (команда), набравший наибольшее количество фишек, становится победителем и получает главный ПРИЗ!!!</li>
            </ul>
            Профессиональных навыков НЕ ТРЕБУЕТСЯ;<br>
            Количество участников: 10 - 15 человек;<br>
            Время проведения: 1,5 – 2 часа;<br>
            Количество образцов: 5 – 7 наименований вин разных стран, сортов и регионов;<br>
            Стоимость проведения: от 1500 р /чел (стоимость гастрономического сопровождения рассчитывается отдельно);<br>
            Винное казино - отличная идея на корпоративные мероприятия, дни рождения, свадьбы, способ оживить вечер<br>
            ЖДЕМ ВАС НА САМОЙ УВЛЕКАТЕЛЬНОЙ ИГРЕ!!!
        </p>
    </div>

    <div class="section">
        <h2 class="section-header">Базовый  тариф корпоративного винного праздника</h2>
        <p class="section-content">
            <p>Компания до 5 человек</p>
            <p>Стоимость 12000 рублей</p>
            <p>Что входит:</p>
            <ul>
                <li>Работа винного эксперта/сомелье  от 1,5 до  2 часов</li>
                <li>5 наименований вина</li>
                <li>Подбор площадки проведения (рестораны, кафе г.Самара)</li>
                <li>Бокалы, тарелки, приборы, небольшие закуски</li>
            </ul>
            <p>Стоимость может быть увеличена в зависимости уровня вина и требований заказчика</p>
        </p>
    </div>

    <div class="section">
        <h2 class="section-header">Компания до 17 человек</h2>
        <p class="section-content">
            <p>Стоимость 25000 рублей</p>
            <p>Что входит:</p>
            <ul>
                <li>Работа винного эксперта/сомелье и ассистента от 2,5 до  3 часов</li>
                <li>5 наименований вина</li>
                <li>Подбор площадки проведения (рестораны, кафе г.Самара)</li>
                <li>Бокалы, тарелки, приборы, небольшие закуски</li>
            </ul>
            <p>Стоимость может быть увеличена в зависимости уровня вина и требований заказчика</p>
        </p>
    </div>

    <div class="section">
        <h2 class="section-header">Компания от  17 человек</h2>
        <p class="section-content">
            Стоимость услуг обсуждается индивидуально в зависимости от требований заказчика
        </p>
    </div>

    <!-- Подключение Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}