{% extends 'main.html'%}
{% block main %}
<body>
    <div class="container">
        <h1>О компании</h1>
        <p>Позвольте немного рассказать о проекте ALCOSTA – сети винотек в городе Самара.</p>
        <p>ALCOSTA – молодой проект. Первый магазин был открыт по адресу Победа 10 в конце 2020 года, второй весной 2021 года на Молодогвардейской 170 в Европейском квартале, но несмотря на молодость этого проекта бэк граундом идет реализация огромного накопленного опыта и знаний в алкогольном бизнесе.</p>
        <p>Идеологически - это специализированный алкогольный магазин, где можно подобрать бутылочку на любой вкус, любой повод и за любые деньги (эксклюзив мы возим «под клиента»). На сайте можно оформить предзаказ и забрать его в удобном для вас магазине. Ценовое предложение ALCOSTA очень привлекательно, наш девиз - «Мы за качество по разумной цене». Для постоянных клиентов действует накопительная дисконтная система.</p>
        <p>Специализированные магазины - тренд не только в нашем регионе или России, по всему миру специализация считается лучшим проявлением профессионализма и гарантии качества. Специалист в таком магазине является экспертом высочайшего уровня, который поможет разобраться в сложном вопросе, что в дальнейшем создаст основу для доверительных долгосрочных отношений. Важным аспектом также остается комфорт и уют места, куда посетители приходят, в том числе за общением. Все это мы постарались учесть при открытии наших магазинов и предложили свои лучшие наработки.</p>
        <p>Мир меняется очень быстро, кто-то уходит с рынка, кто-то получает возможность заявить о себе, но все чаще трендом становится интерес покупателей к новинкам, которые появились, благодаря экспертизе продавцов, а специалисты проекта ALCOSTA активно идут в авангарде, благодаря развитой сети партнеров по всему миру.</p>
        <p>ALCOSTA имеет свой независимый винный клуб, который был назван «Соль вина». Мы проводим открытые и закрытые мероприятия, встречи с партнерами, игры и обучения!</p>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaMHjRyZe5qhm+JRmK5DqUW2qcKMax" crossorigin="anonymous"></script>
</body>
{% endblock %}