{% extends 'main.html'%}
{% block main %}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="discount-container">
                    <img src="https://via.placeholder.com/400x300" class="discount-image" alt="">
                    <div class="discount-text">Скидка 15%</div>
                    <p class="text-center">в день рождения</p>
                    <div class="text-center">На все покупки за 7 дней до и после даты</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="discount-container">
                    <img src="https://via.placeholder.com/400x300" class="discount-image" alt="">
                    <div class="discount-text">Скидка 15% молодоженам</div>
                    <div class="text-center">1 раз на покупки в течение 2 месяцев</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Подключение Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}

