{% extends 'main.html'%}
{% block main %}
<body>
    <div class="main_content">
        <div class="wrapper-inner">
            <div class="stores mb-5">
                <h1 class="title_box">Наши магазины в Самаре</h1>
                <div class="row">
                    <div class="col-md-4">
                        <!-- Магазин 1 -->
                        <div class="discount-container">
                            <div class="store-item">
                                <div class="catalog-stores-item-title mb-3">
                                    <div class="catalog-stores-address">ул. Победы 10</div>
                                    <div class="catalog-stores-item-description">Забрать заказ, купить на месте, забронировать</div>
                                </div>
                                <div class="catalog-stores-item-info">
                                    <div class="catalog-stores-item-schhedule">
                                        <div class="subtitle text-muted">режим работы:</div>
                                        <div>10:00 - 22:00, Без выходных</div>
                                    </div>
                                    <div class="catalog-stores-item-phone" itemprop="telephone">
                                        <div class="subtitle text-muted">Телефон:</div>
                                        <a href="tel:89879202452">8 987 920 24 52</a>
                                    </div>
                                </div>
                                <div class="catalog-stores-item-payment">
                                    <div class="accept_payment text-muted">Принимаем к оплате:</div>
                                    <div class="payments_description">Наличные и банковские карты</div>
                                </div>
                            </div>
                            <div class="open_map">
                                <span>Посмотреть на карте</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Магазин 2 -->
                        <div class="discount-container">
                            <div class="store-item">
                                <div class="catalog-stores-item-title mb-3">
                                    <div class="catalog-stores-address">ул. Молодогвардейская 170</div>
                                    <div class="catalog-stores-item-description">Забрать заказ, купить на месте, забронировать</div>
                                </div>
                                <div class="catalog-stores-item-info">
                                    <div class="catalog-stores-item-schhedule">
                                        <div class="subtitle text-muted">режим работы:</div>
                                        <div>10:00 - 22:00, Без выходных</div>
                                    </div>
                                    <div class="catalog-stores-item-phone" itemprop="telephone">
                                        <div class="subtitle text-muted">Телефон:</div>
                                        <a href="tel:89171013015">8 917 101 30 15</a>
                                    </div>
                                </div>
                                <div class="catalog-stores-item-payment">
                                    <div class="accept_payment text-muted">Принимаем к оплате:</div>
                                    <div class="payments_description">Наличные и банковские карты</div>
                                </div>
                            </div>
                            <div class="open_map">
                                <span>Посмотреть на карте</span>
                                <i class="fa fa-angle-down"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Подключение Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
col-md-4